

.title {
    font-size: 53px;
    font-family: 'Crimson', Roboto, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 90px;
    color: #4a4a4a;
    text-shadow: #4a4a4a 1px 0 3px

}

.buttonStyle {
    margin: 10px;
}

.button-maker {
    // margin-top: 10%;  
    justify-content: center;
    display: flex;
    padding: 20px;
    
}


.button-maker2 {
    margin-top: 7%;
    justify-content: center;
    display: flex;
}

.resultStyle {
    font-size: 150px;
    margin-top: 5%;
    color: #f3f2f2;
    text-shadow: #4a4a4a 1px 0 10px;
    justify-content: center;
    display: flex;
}



