<!-- app.component.html -->
<div>
  <div>
    <p class="title">Simple {{ title }}</p>
  </div>

  <div class="button-maker">
    <mat-form-field>
      <mat-label>Introduzca primer número</mat-label>
      <input class="inputStyle" matInput type="number" placeholder="Introduzca un número" [(ngModel)]="firstNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Introduzca segundo número</mat-label>
      <input class="inputStyle" matInput type="number" placeholder="Introduzca un número" [(ngModel)]="secondNumber">
    </mat-form-field>
  </div>

  <div>
    <p class="resultStyle">
      <span id="result">{{ result }}</span>
    </p>
  </div>

  <div class="button-maker2">
    <button class="buttonStyle" mat-raised-button color="primary" (click)="addition()">Sumar</button>
    <button class="buttonStyle" mat-raised-button color="primary" (click)="subtraction()">Restar</button>
    <button class="buttonStyle" mat-raised-button color="primary" (click)="multiply()">Multiplicar</button>
    <button class="buttonStyle" mat-raised-button color="warn" (click)="reset()">Reset</button>
  </div>
</div>
